<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Neue Transaktion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-select interface="action-sheet" formControlName="type" required>
        <ion-select-option value="ausgabe">Neue Ausgabe</ion-select-option>
        <ion-select-option value="einnahme">Neue Einnahme</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Wann</ion-label>
      <ion-input placeholder="Wann" type="date" formControlName="wann" required="{{true}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Wie viel</ion-label>
      <ion-input placeholder="Betrag" type="number" formControlName="wert" clear-input="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Was</ion-label>
      <ion-select value="notifications" interface="action-sheet" formControlName="was">
        <ion-select-option *ngFor="let was of filteredKategories" value="{{was}}">
          <ion-icon name="{{was.icon}}"></ion-icon>
          {{was.label}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>

<ion-footer collapse="fade">
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="update()" [disabled]="formGroup.invalid">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
