*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/target
.classpath
.project
.settings/
target/
/target/
*/target/**
.sass-cache
*.swp
*.swo
*.DS_Store
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar

*.lst
*.jar
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.angular/
