<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einstellungen & Optionen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button expand="block" (click)="wipeTransactions()">Transaktionen löschen</ion-button>
    <ion-button expand="block" (click)="wipeWas()">Kategorien zurücksetzen</ion-button>
    <ion-button expand="block" (click)="addKategorie()">Neue Kategorie anlegen</ion-button>
  </section>
</ion-content>

<ion-footer collapse="fade">
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
