<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let transaction of transactions" (click)="clickTransaction(transaction)">
      <ion-label>{{transaction.wann.format("DD.MM.YYYY")}}</ion-label>
      <ion-icon name="{{transaction.was.icon}}"></ion-icon>
      <ion-label>{{transaction.was.label}}</ion-label>
      <ion-label>{{transaction.wert}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer collapse="fade">
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
