<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let transaction of transactions">
          <ion-label>{{transaction.was}}</ion-label>
          <ion-label>{{transaction.wert}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="fade">
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
