<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-fab-button (click)="left()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
    <ion-title>
      {{selectedDate.locale("de").format("MMMM YYYY")}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-fab-button (click)="right()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card (click)="openTransactionsList(alleEinnahmen,'Alle Einnahmen')">
    <ion-card-content>
      <ion-label style="color: green">
        <ion-icon name="bag-add-outline"></ion-icon>
        Einnahmen: {{summeAllerEinnahmen}}
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openTransactionsList(alleAusgaben, 'Alle Ausgaben')">
    <ion-card-content>
      <ion-label style="color: red">
        <ion-icon name="bag-remove-outline"></ion-icon>
        Ausgaben: {{summeAllerAusgaben}}
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>
        Differenz: {{summeAllerEinnahmen - summeAllerAusgaben}}
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="fade">
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="clickAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
