<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Toolbar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card (click)="openTransactionsList(alleEinnahmen,'Alle Ausgaben')">
    <ion-card-content>
      <ion-label style="color: green">
        <ion-icon name="bag-add-outline"></ion-icon>
        Einnahmen: {{summeAllerEinnahmen}}
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openTransactionsList(alleAusgaben, 'Alle Ausgaben')">
    <ion-card-content>
      <ion-label style="color: red">
        <ion-icon name="bag-remove-outline"></ion-icon>
        Ausgaben: {{summeAllerAusgaben}}
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>
        Differenz: {{summeAllerEinnahmen - summeAllerAusgaben}}
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="fade">
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="clickAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
